{% extends 'layout.html.twig' %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Guardian of the Galaxy <small>James Gunn</small></h1>
    <p>Trouvez une séance de cinéma près de chez vous</p>
  </div>
</div>

<div class="row">

<div class="col-md-6 col-md-offset-3">
    <ul class="media-list well">
        <li class="media"> 
          <div class="media-left"> 
            <a href="/cinema/123">
              <img alt="64x64" class="media-object" src="//placekitten.com/g/64/64" style="width: 64px; height: 64px;"> 
            </a>
          </div>
          <div class="media-body"> 
            <h4 class="media-heading"><a href="/cinema/123">MK2 Gambetta</a>  <small>75020</small></h4> 
              <ul>
                <li>
                  mercredi 3 mai 2017 : <span class="label label-primary">14:30</span> <span class="label label-primary">18:30</span>
                </li>
                <li>
                  jeudi 4 mai 2017 : <em>Prochaine séance le 5 mai</em>
                </li>
                <li>
                  vendredi 5 mai 2017 : <span class="label label-primary">14:30</span>
                </li>
                <li>
                  samedi 6 mai 2017 : <span class="label label-primary">14:30</span>
                </li>
                <li>
                  dimanche 7 mai 2017 : <span class="label label-primary">14:30</span>
                </li>
                <li>
                  lundi 8 mai 2017 : <span class="label label-primary">14:30</span>
                </li>
                <li>
                  mardi 9 mai 2017 : <span class="label label-primary">14:30</span>
                </li>
              </ul>
          </div> 
        </li>

        <li class="media"> 
          <div class="media-left"> 
            <a href="/cinema/123">
              <img alt="64x64" class="media-object" src="//placekitten.com/g/64/64" style="width: 64px; height: 64px;"> 
            </a>
          </div>
          <div class="media-body"> 
            <h4 class="media-heading"><a href="/cinema/123">UGC Ciné Cité</a>  <small>75001</small></h4> 
              <ul>
                <li>
                  Pas de séance avant le 17 décembre
                </li>
              </ul>
          </div> 
        </li>

        <li class="media"> 
          <div class="media-left"> 
            <a href="/cinema/123">
              <img alt="64x64" class="media-object" src="//placekitten.com/g/64/64" style="width: 64px; height: 64px;"> 
            </a>
          </div>
          <div class="media-body"> 
            <h4 class="media-heading"><a href="/cinema/123">Lux Caen</a>  <small>14500</small></h4> 
              <ul>
                <li>
                  mercredi 3 mai 2017 : <span class="label label-primary">10:30</span>
                </li>
                <li>
                  jeudi 4 mai 2017 : <em>Prochaine séance le 5 mai</em>
                </li>
                <li>
                  vendredi 5 mai 2017 : <span class="label label-primary">14:30</span>
                </li>
                <li>
                  samedi 6 mai 2017 : <em>Pas de séance</em>
                </li>
                <li>
                  dimanche 7 mai 2017 : <em>Pas de séance</em>
                </li>
                <li>
                  lundi 8 mai 2017 : <em>Pas de séance</em>
                </li>
                <li>
                  mardi 9 mai 2017 : <em>Pas de séance</em>
                </li>
              </ul>
          </div> 
        </li>
    </ul>
  </div>

</div>
    
{% endblock content %}